<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ここ旅</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="../stylesheets/index.css">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- hrefはリンクの到着先 -->
    <header>
        <nav class="container_header">
          <img src="../images/logo.jpg" alt="トップ画像" title="トップ画像" class="img_icon">
          <div class="left_header">
            <a href="#" class="col-1">望んだ景色はまさに「ここ」
            </a>

          </div>
          <div class="right_header">
            <a href="#first-block">トップ</a>
            <a href="#second-block">ここ旅について
            </a>
            <a href="./image.html">写真</a>
            <a href="fourth-block">道のり</a>
          </div>
        </nav>
      </header>

    

      <footer>
        <small>&copy; 2021 Nakamura Shunta</small>
      </footer>
  
      <script type="text/javascript" src="../javascripts/index.js"></script>
    </body>
  </html>