<!DOCTYPE html> 
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ここ旅</title>
    <!--変更した部分は以下の一行！！-->
    <link rel="stylesheet" href="../stylesheets/index.css">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- hrefはリンクの到着先 -->
    <header>
        <nav class="container_header">
          <img src="../images/logo.jpg" alt="トップ画像" title="トップ画像" class="img_icon">
          <div class="left_header">
            <a href="#" class="col-1">望んだ景色はまさに「ここ」
            </a>

          </div>
          <div class="right_header">
            <a href="#first-block">トップ</a>
            <a href="#second-block">ここ旅について
            </a>
            <a href="./image.html">写真</a>
            <a href="fourth-block">道のり</a>
          </div>
        </nav>
      </header>

    
 <!-- コンテンツを一旦仮置きする -->
 <section id="first-block">
    <div class="first-block">
        <div class="bgImg src1"></div>
        <div class="bgImg src2"></div>
        <div class="bgImg src3"></div>
        <div class="bgImg src4"></div>
        <div class="boxString">ここにも絶景</div>
    </div>
  </section>
<!-- second block satart -->
<section id="second-block">
  <p class="events-title">
    Contents
  </p>
  <div class="event-container">
    <div class="event">
      <image src="../images/1.jpg" class="event-image">
      <p class="event-name">
        <span>あなたの旅の手助け</span>
        <br>
        <br>
        「ここ旅」はあなたのすてきな旅のお手伝いをします。<br>
        あなたの見たい「景色」から、同様のスポットを提案、<br>
        現在地からの距離や所要時間の算出まで行います。<br>
        「ここ」から始まるすてきな旅をお楽しみください。
      </p>
    </div>
    <div class="event">

        <div class="cont">
          <div class='title2'>
            <span>身近な絶景を知って欲しい</span>
            <br>
            <br>
            あなたの見たい「写真」を入力することで類似した<br>
            スポットを提案いたします。意外と近くに似た景色<br>
            を楽しめる場所があるかもしれません。
          </div>
          <div class="animation" href="./image.html">
          <div class="effect"></div>
          <a href="./image.html"> 写 真 </a>
          </div>
        </div>




      <image src="../images/2.jpg" class="event-image">
    </div>

    <div class="event">

      <image src="../images/3.jpg" class="event-image">
        <div class="cont3">
        <div class='title3'>
        <span>写真ではなく自分の目で</span>
        <br>
        <br>
        行きたい場所が見つかったら実際に赴いてみましょう。<br>
        現在地からの距離や車での所要時間が算出出来ます。<br>
        まさに「ここ！」と思える景色がきっと待っています。
      </div>
      <div class="animation" href="./image.html">
      <div class="effect"></div>
      <a href="./image.html"> 道のり </a>
      </div>
    </div>
  

</section>
<!--   Third block End   -->
    <!-- コンテンツはここまで -->

  <footer>
      <small>&copy; 2021 Nakamura Shunta</small>
    </footer>

    <script type="text/javascript" src="../javascripts/index.js"></script>
  </body>
</html>